#root {
  margin: 0 auto;
  text-align: center;
}

.slider {
  height: 40px;
  border: 2px solid red;
  border-radius: 20px;
}

.thumb {
  background-color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid green;
}

.slider.green .thumb {
  background-color: green;
}

.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
  margin-top: 30vh;
}

#background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

#virtual-tour {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


#virtual-tour h1 {
  position: absolute;
  width: 70vw;
  margin-top: 80vh;
  margin-left: 15vw;
  height: fit-content;
  z-index: 0;

}

#tour-button {
  position: absolute;
  width: fit-content;
  margin-top: 90vh;
  margin-left: 42vw;
  z-index: 0;
}

#students-card {
  display: flex;
  flex-direction: row;
}

#email {
  width: 20vw;
}

#name {
  width: 10vw;
}

#students-card-p {
  width: 5vw;
  display: flex;
}

#students-lists {
  position: center;
}

#dashboard-staff {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

#buttons-students-list {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#navbar {
  position: absolute;
  z-index: 3;
  margin-left: -90vw;
  margin-top: 25vh;
  width: 5vw;
  height: 90vh;
}

#list-navbar {
  background-color: transparent;
}

#button-navbar {
  background-color: transparent;
}



#profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heading-profile-page {
  margin-top: 10vh;
}


#topbar{
  margin: 0;
  padding: 0;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#promotional-page{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


/*STYLING TO DO LIST*/
/*
body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.container, .container2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  border-radius: 5px;
  background-color: #F5F5F5;
}
h1 {
  color: #333;
}
.task-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.task-container:hover {
  transform: translateY(-4px);
}
.task-details {
  flex: 1;
}
.task-actions {

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.delete-button {
  background-color: #FF6347;
  color: white;
}
.delete-button:hover {
  background-color: #FF4C35;
}
.add-button {
  background-color: #28A745;
  color: #fff;
}
.add-button:hover {
  background-color: #218838;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
}
.form-container label {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  color: #333;
}
.form-container input,
.form-container select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #333;
}
.form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-container button:hover {
  background-color: #45A049;
}
.back-button {
  margin-top: 10px;
}
.back-button a {
  text-decoration: none;
  color: #333;
}
.back-button button {
  background-color: #ccc;
}
.back-button button:hover {
  background-color: #bbb;
}

.custom-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.custom-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}
.custom-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #333;
}
.custom-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.custom-form button:hover {
  background-color: #45A049;
}
.success-message {
  color: green;
  margin-top: 10px;
}
.error-message {
  color: red;
  margin-top: 10px;
}
.container {
  margin: 0 auto;
  padding: 20px;
}
.task-details-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.heading {
  color: #333;
}
.task-property {
  margin-bottom: 10px;
}
.delete-button, .edit-button, .back-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
}
.delete-button:hover, .edit-button:hover, .back-button:hover {
  background-color: #0056B3;
}
.task-details-container {
  display: flex;
  flex-direction: column;
}
.task-details-buttons {
  display: flex;
  justify-content: center;
}
.task-details-buttons > div {
  margin: 0 10px;
.delete-button,
.edit-button,
.back-button {
  width: 150px; /
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-status {
  margin-right: 10px;
}
.checkbox-input {
  margin-right: 5px;
}
*/
