#root {
  margin: 0 auto;
  text-align: center;
}

.slider {
  height: 40px;
  border: 2px solid red;
  border-radius: 20px;
}

.thumb {
  background-color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid green;
}

.slider.green .thumb {
  background-color: green;
}

.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}

#background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

#virtual-tour {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


#virtual-tour h1 {
  position: absolute;
  width: 70vw;
  margin-top: 80vh;
  margin-left: 15vw;
  height: fit-content;
  z-index: 0;

}

#tour-button {
  position: absolute;
  width: fit-content;
  margin-top: 90vh;
  margin-left: 42vw;
  z-index: 0;
}

#students-card {
  display: flex;
  flex-direction: row;
}

#email {
  width: 20vw;
}

#name {
  width: 10vw;
}

#students-card-p {
  width: 5vw;
  display: flex;
}

#students-lists {
  position: center;
}

#dashboard-staff {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

#buttons-students-list {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#navbar {
  position: absolute;
  z-index: 3;
  margin-left: -90vw;
  margin-top: 25vh;
  width: 5vw;
  height: 90vh;
}

#list-navbar {
  background-color: transparent;
}

#button-navbar {
  background-color: transparent;
}

#profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heading-profile-page {
  margin-top: 10vh;
}


#topbar{
  margin: 0;
  padding: 0;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#promotional-page{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}