#root {
  margin: 0 auto;
  text-align: center;
}

.slider {
  height: 40px;
  border: 2px solid red;
  border-radius: 20px;
}

.thumb {
  background-color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid green;
}

.slider.green .thumb {
  background-color: green;
}



.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607EAA;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #F9F5EB;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607EAA;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #F9F5EB;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #D1512D;
  cursor: pointer;
  color: #EAE3D2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #F9F5EB;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #EAE3D2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
background-color: #f5ccc2;
width: 300px;
padding: 10px;
border-radius: 10px;
font-size: 15px;
}
.message__sender{
background-color: rgb(194, 243, 194);
max-width: 300px;
padding: 10px;
border-radius: 10px;
margin-left: auto;
font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
  margin-top: 30vh;
}

#background-img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

#virtual-tour{
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#virtual-tour h1{
  font-size: 15px;
  position:absolute;
  width: 60vw;
  margin-top: 80vh;
  margin-left: 20vw;
  height: fit-content;
  z-index: 0;
  color: black;
  background-color: white;
}

#tour-button{
  position:absolute;
  width: fit-content;
  margin-top: 90vh;
  margin-left: 40vw;
  height: fit-content;
  z-index: 0;
  color: black;
  background-color: white;
}


#students-card{
  display: flex;
  flex-direction: row;
}

#email{
  width: 20vw;
}

#name{
  width: 10vw;
}

#students-card-p{
  width: 5vw;
  display: flex;
}

#students-lists{
  position: center;
}

#dashboard-staff{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buttons-students-list{
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#navbar{
  position: absolute;
  z-index: 3;
  margin-left: -90vw;
  margin-top: 25vh;
  width: 5vw;
  height: 90vh;
}

#list-navbar{
  background-color: transparent;
}

#button-navbar{
  background-color: transparent;
}

#heading-staff-dashboard{
  margin-top: 10vh;
}

#profile-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heading-profile-page{
  margin-top: 10vh;
}
